@use '../custom' as *;
@use '../components/mixins' as *;

.menu{
    @include gradient;

    li{
        padding: 0 0.7rem;
    }

    a{
        color: $white !important;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 0.975rem;

        @include media-breakpoint-up(lg){
            font-size: 1.275rem;
        }
    }
}