@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded{
    @include media-breakpoint-down(sm){
        display: none;
    }
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight: 700;
    position: relative;
    margin: 0;
    border: 0.1rem solid rgba($white,0.6);
    background-color: $white;

    span{
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        background-color: $primary;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    i{
        line-height: 2.5rem;
        font-size: 1rem;
    }

    &:hover{
        @include gradient;
        color: $white;
    }
}